body {
  background-color: #f4f6ff;


}

hr {
  background-color: White;
  border-style: none;
  border-top-style:dotted;
  border-color:grey;
  border-width:5px;
   width:5%;
}
h1{

color: #84a9ac;

}
h3{
  color:#3b6978;
}
.pad{
  padding-left:30px;
}

.cor{
  width: 900px;
  height:500px;
  align-content: center;
  margin: auto;

}
.f-color{
   color: #84a9ac;
}
.cen{
  text-align: center;
}
.cent{
  /* align-content: center; */
  margin: auto;
}
.fon{
  font-size: 100px;
}
.co{
  color: #84a9ac;
}
